*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding:0 ;
   margin:0 ;
   color: antiquewhite;
}
body{
    background: #001;
}


.menu{
    width: 50px;
    height: 100vh;
    background-color: #123;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.menu:hover{
    width: 260px;
}
ul{
    list-style: none;
    position: relative;
height: 95%;
}
ul li a{
    display: block;
text-decoration: none;
padding: 10px;
margin: 5px 0 ;
border-radius: 8px;
display: flex;
align-items: center;
gap: 40px;
transition: 0.5s;
}
ul li a:hover,.activ{
    background-color: #ffffff55;
}
ul .out{
    width: 260px;
position: absolute;
bottom: 0;
background-color: #a00;
border-radius: 15px;
}
.box{
    height: 50px;
    width:50px ;
border-radius: 50%;
overflow: hidden;
border: solid 4px white;
flex-shrink: 1;
}
.box img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;

}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}